.top_bt {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 24px;
    height: 24px;
}

#go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 */

/*
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
*/

#home_m_wrap .top_bt {
    bottom: 90px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.like-section {
    color: #007bff;
    font-size: 16px;
}
.like-section span {
    margin-left: 5px;
}


/* 장르 모달창 */
#genre_modal {
    position: fixed;
    width: 125%;
    height: 750px;
    background-color: rgba(37, 37, 37, 0.945);
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    border-radius: 2.5%;
    box-sizing: border-box;
    padding: 50px 40px;
    text-align: center;
    z-index: 1000;
}

.genre_box {
    margin: auto;
    font-family: 'SUITE-Bold';
}

.genre_box .label_title {
    display: block;
    margin-bottom: 20px;
    font-size: 32px;
    color: white;
}

.genre_box label~label {
    font-size: 22px;
    display: inline-block;
    width: 28%;
    height: 45px;
    padding-top: 15px;
    margin: 10px;
    border-radius: 20px;
    color: white;
}

.genre_box label~label {
    transition: all 0.3s ease;
  }

.genre_box label~label {
     cursor: pointer;
  }

.genre_box .check[type="checkbox"] {
    display: none;
}

.genre_box .check[type="checkbox"]:checked+label {
    cursor: pointer;
    box-shadow:
   -6px -6px 20px 0px rgba(121, 121, 121, 0.6),
   -4px -4px 5px 0px rgba(97, 97, 97, 0.6),
   6px 6px 20px 0px hwb(0 29% 71% / 0.133),
   4px 4px 5px 0px hsla(0, 0%, 18%, 0.067);
}

.genre_box .check[type="checkbox"]:hover+label {
    cursor: pointer;
}

.submit_btn {
    font-size: 17px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 90%;
    color: white;
    border-radius: 25px;
    background-color: hsla(0, 0%, 0%, 0.932);
    border-color: hsla(0, 0%, 100%, 0);
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 680px;
}

.submit_btn:hover {
    background-color: #222222;
}