.top_bt {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 24px;
    height: 24px;
}

#go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 pc 끝 */

/*
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
    여기부터 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형 반응형
*/

#home_m_wrap .top_bt {
    bottom: 90px;
}