/* 팝업창 */
.swal2-container {
    position: absolute;
    margin: auto;
    width: 100%;
    max-width: 280px;
    min-width: 240px;
}

/* 탑버튼 */
#go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    z-index: 1000;
    display: none;
}

/* 값 초기화 */
* {
    margin: 0;
    padding: 0;
    font-family: 'SUITE-SemiBold';
    outline: none;
}

img {
    -webkit-user-drag: none;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
}

li {
    list-style: none;
}

input {
    text-indent: 5px;
}

input:focus {
    outline: none;
}

body, html {
	width: 100%;
    height: 100%; /* html과 body가 화면 전체 높이를 차지하도록 설정 */
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 15px;
    /* 세로축 스크롤바 폭 너비 */
    height: 15px;
    /* 가로축 스크롤바 폭 너비 */
}

::-webkit-scrollbar-thumb {
    background: hwb(0 93% 7%);
    /* 스크롤바 막대 색상 */
    border-radius: 10px;
    border: none;
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hwb(0 83% 17%);
}

::-webkit-scrollbar-track {
    background: hwb(219 66% 0% / 0.747);
    /*스크롤바 뒷 배경 색상*/
}

/* 모바일 헤더 숨김 */
header {
    display: none;
}

#home_wrap {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    height: auto;
    background: url(../img/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.con_wrap {
    width: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

/* pc 왼쪽 메뉴 고정 */
#nav_box {
    width: 20%;
    height: 100vh;
    /* li-hi 80px */
    position: sticky;
    float: left;
    box-sizing: border-box;
    top: 0;
    background-color: hwb(0 100% 0% / 0.493);
}

#nav_box a {
    width: 100%;
    height: 100%;
}

#nav_box .navcon {
    width: 100%;
    /* height: 25px; */
    padding: 25px 0px;
    list-style: none;
    display: inline-flex;
}

#nav_box .navcon:hover {
    box-shadow: 0px 3px 10px 5px hwb(0 46% 54% / 0.253);
}

#nav_box .navcon img {
    width: 25px;
    height: 25px;
    margin: 0px 13px 0px 20px;
}

#nav_box .navcon .menu_bt {
    display: inline-flex;
    margin-top: 2px;
    box-sizing: border-box;
    font-size: 18px;
}

#nav_box .logo_pc {
    width: 100%;
    position: sticky;
    top: 100%;
}

#nav_box .logo_pc img {
    width: 170px;
    height: 440px;
    margin: 0px 0px 10px 6px;
}

#home {
    float: right;
    width: 80%;
}

.logo_pc {
    display: none;
}

/* 반응형 css */
@media screen and (max-width:1280px) {
    #home_wrap .top_bt {
        bottom: 70px;
    }


    html {
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        /* for Firefox */
        overflow-y: scroll;
    }

    html::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }

    body {
        /* min-width: 584px; */
    }

    /* 모바일 header 고정 */
    header {
        display: block;
        width: 100%;
        position: sticky;
        display: flex;
        top: 0;
        background-color: hsl(0, 0%, 97%);
        border-bottom: 0.5px solid hwb(0 89% 11% / 0.973);
        box-sizing: border-box;
        z-index:1000;
    }

    .logo_pc {
        display: none;
    }

    header .logo_m {
        margin: auto;
        width: 30%;
    }

    header .logo_m a img {
        width: 100%;
        height: 100%;
        margin-top: 5px;
    }

    #home_wrap {
        position: relative;
        width: 100%;
        background-color: hwb(0 95% 5%);
    }

    #home {
        width: 100%;
        top: 0;
        box-sizing: border-box;
        background: url(../img/bg2.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    /* 모바일 footer 고정 */
    #nav_box {
        width: 100%;
        height: 52px;
        position: sticky;
        bottom: 0;
        background-color: hsl(0, 0%, 97%);
        display: flex;
        z-index:1000;
    }

    #nav_box .navcon {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
    }

    #nav_box .navcon span {
        display: none;
    }

    #nav_box .navcon:hover {
        box-shadow: 5px 5px 5px hsla(218, 86%, 50%, 0.103);
    }

    #nav_box .navcon img {
        margin: 0;
    }

    #nav_box .navcon .menu_bt {
        margin-top: 0;
        box-sizing: border-box;
    }

    #nav_box a .navcon:hover img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width:767px) {
    body {
        min-width: 463px;
    }
}