/* 탑버튼 */
#go_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    z-index: 1000;
    display: none;
}

/* main 내용 */
.container {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    box-shadow: 0 5px 25px 0 hsla(219, 100%, 68%, 0.275);
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    box-sizing: border-box;
    color: white;
}

.user_section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#pp {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

.user_info {
    display: flex;
    flex-direction: column;
}

.n_box {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin-right: 10px;
}

.n_box span {
    padding: 5px 10px;
    font-size: 14px;
}

/* 게시판 관련 폰트 사이즈 조절 */
.info {
    font-size: 18px;
    margin-bottom: 2px
}

.created_at {
    font-size: 14px;
    color: rgb(245, 245, 245);
}

.content_section {
    margin: 10px 0;
    font-size: 20px;
}

.con_section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon_like {
    margin-left: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.like_section span {
    margin-left: 5px;
}

.like_count {
	font-family: 'SUITE-ExtraBold';
}

.edit_delete {
    font-size: 12px;
    float: right;
    margin-top: 5px;
}

.edit_delete span {
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #007bff;
    color: aliceblue;
}

.edit_delete .dlt {
	background-color: #979797;
}

.edit_delete .dlt:hover {
    background-color: hsl(0, 0%, 54%);
}

.edit_delete span:hover {
    background-color: hsl(211, 100%, 45%);
}

@media screen and (max-width:1280px) {
    #go_top {
        bottom: 70px;
    }

    .container {
        width: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-top: 80px;
    }

    #pp {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 90%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-top: 50px;
    }

    #pp {
        width: 80px;
        height: 80px;
    }

    /* 댓글 관련 폰트 사이즈 조절 */
    .info {
        font-size: 19px;
    }

    .created_at {
        font-size: 14px;
    }
}